@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Welcome</h1>
    <p>Manage my <a asp-controller="Course" asp-action="GetAllCourses">Courses</a> or  <a asp-controller="Course" asp-action="GetAddForm">Add a New Course</a></p>
</div>
